body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

ul li {
  color: whitesmoke;
  background-color: #474643;
  padding: 2rem;
  border: 1px solid orange;
}

input {
  margin: 1rem;
}

#buttons {
  display: flex;
}
